<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
</head>
<body>
    <form action="https://editor-edt.github.io/my-blog-EDT.github.io/blog_for_problems/templates/frame.html" method="post">
        send:<input name='text' type='text'/><br>
        <input type = 'submit' value = 'Submit'/>
    </form>
</body>
</html>
